@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

:root {
  --background-color: #fff;
  --main-text: #604F8F;
  --subtitle : #5461A5;
  --border : #4a5487;
  --transition: 0.3s;
}

a {
  text-decoration: none;
}

html,
a {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, img {
  display: inline-block;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media screen and (min-width: 786px) {
  .container {
    max-width: 750px
  }
}

@media screen and (min-width: 990px) {
  .container {
    max-width: 950px
  }
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1150px
  }
}

.section-title {
  color: var(--main-text);
  font-size: 30px;
  margin-bottom: 15px;
}

.subtitle {
  color: var(--subtitle);
  line-height: 1.6;
  font-size: 22px;
}

button {
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid var(--border);
  color: var(--main-text);
  cursor: pointer;
  background-color: #fff;
}